@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 1fr 6vh;
    font-family: 'Bebas Neue', cursive;
}

header {
    display: flex;
}

#logo {
    height: 10vh;
    width: 7vw;
}

.toolbar {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
}


li {
    display: flex;
    list-style: none;
    font-size: 3vh;
}


.toolbar-items {
    display: flex;
    width: 93vw;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}



#car {
    width: 2vw;
    height: 3vh;
}

a {
    text-decoration: none;
    color: black;
    line-height: 2;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: black;
}

a::after {
    display: block;
    content: "";
    height: 3px;
    background-color: black;
    transform: scaleX(0);
    transition: 0.2s ease-in-out;
}
a:hover::after {
    transform: scaleX(1);
}

#search{
    height: 4vh;
    width: 12vw;
    text-transform: uppercase;
    border-radius: 0.35rem;
    font-size: 1rem;
    border: 2px solid black;
}

#search::placeholder{
font-size: 1rem;
text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: center;
}

.card {
    letter-spacing: 0;
    font-weight: 600;
    margin: 2.5rem;
    width: 18.75rem;
    height: 25.625rem;
    border: 2px solid white;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card > img {
    padding-top: 0.625rem;
    width: 15rem;
    height: 15rem;

}
.produtos {
    position: relative;
    left: 5vw;
    right: 5vw;
}

h2 {
    margin-top: 1vh;
}

button {
    color: black;
    border-radius: 0.313rem;
    padding-bottom: 0.313rem;
    padding-top: 0.313rem;
    text-transform: uppercase;
    background-color: aqua;
    font-size: 0.938rem;
    font-weight: bold;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 1vh;
}
svg {
    display: flex;
    justify-content: center;
    font-size: inherit;
    height: 1.563rem;
    overflow: visible;
    margin-top: 1vh;
}
.links {
    text-decoration: none;
    color: none;
    line-height: none;
    transition: none;
}
.links:hover {
    color: none;
}
.links::after {
    display: inline;
    content: "";
    height: 0;
    background-color: none;
    transform: none;
    transition: none;
}
.link:hover::after {
    transform: none;
}

::-webkit-scrollbar {
    display: none;
}